[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
scikit-learn = "==1.1.1"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
